<div class="modal hide fade" id="project-log">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{projectLog.project.name}} Git Log</h3>
  </div>

  <div class="modal-body">
    <ol>
      <li ng-repeat="entry in projectLog.project.repo.log">
        <div class="commit-id" ng-bind="entry.id"></div>
        <div class="commit-name" ng-bind="entry.author.name"></div>
        <div class="commit-email" ng-bind="entry.author.email"></div>
        <div class="commit-date" ng-bind="entry.authored_date"></div>
        <div class="commit-message" ng-bind="entry.message"></div>
      </li>
    </ol>
  </div>

  <div class="modal-footer">
    <%= link_to "Close", "#", "data-dismiss" => "modal", class: "btn" %>
  </div>
</div>
